<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="theme-color" content="#000">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="yes">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="csrf-token" content="hjJWD7Y7sJ2z9etlI3n6o3lomorsPasNWVUcmQp1">
    <meta name="logged-in" content="0">
    <meta property="fb:app_id" content="1864643850436909">
    <!-- Google Tag Manager -->
    <script>(function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=UA-234211342-1' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N9N5L4J');</script>
    <!-- End Google Tag Manager -->
    <title>Trang Chủ</title>
    <link rel="canonical" href="BookWeb.html">
    <link rel="preconnect" href="https://www.google-analytics.com">
    <link rel="shortcut icon" href="images/book_open_logo.png">
    <link rel="preload" href="assets/fonts/OpenSans-Regular.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/fonts/fontawesome-all.min.css">
    <link rel="preload" href="assets/fonts/OpenSans-SemiBold.ttf" as="font" type="font/ttf" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
        integrity="sha256-BtbhCIbtfeVWGsqxk1vOHEYXS6qcvQvLMZqjtpWUEx8=" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/WebInterface.css">
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>
    <script type="text/javascript" async=""
        src="https://www.googletagmanager.com/gtag/js?id=G-96XMLJKYVT&l=dataLayer&cx=c"></script>
    <script src="https://raw.githubusercontent.com/verlok/vanilla-lazyload/master/src/lazyload.js"></script>
    <script src="scripts/plugins.js"></script>
    <style>
        .tns-outer {
            padding: 0 !important
        }

        .tns-outer [hidden] {
            display: none !important
        }

        .tns-outer [aria-controls],
        .tns-outer [data-action] {
            cursor: pointer
        }

        .tns-slider {
            transition: all 0s
        }

        .tns-slider>.tns-item {
            box-sizing: border-box
        }

        .tns-horizontal.tns-subpixel {
            white-space: nowrap
        }

        .tns-horizontal.tns-subpixel>.tns-item {
            display: inline-block;
            vertical-align: top;
            white-space: normal
        }

        .tns-horizontal.tns-no-subpixel:after {
            clear: both;
            content: "";
            display: table
        }

        .tns-horizontal.tns-no-subpixel>.tns-item {
            float: left
        }

        .tns-horizontal.tns-carousel.tns-no-subpixel>.tns-item {
            margin-right: -100%
        }

        .tns-gallery,
        .tns-no-calc {
            left: 0;
            position: relative
        }

        .tns-gallery {
            min-height: 1px
        }

        .tns-gallery>.tns-item {
            left: -100%;
            position: absolute;
            transition: opacity 0s, -webkit-transform 0s;
            transition: transform 0s, opacity 0s;
            transition: transform 0s, opacity 0s, -webkit-transform 0s
        }

        .tns-gallery>.tns-slide-active {
            left: auto !important;
            position: relative
        }

        .tns-gallery>.tns-moving {
            transition: all .25s
        }

        .tns-autowidth {
            display: inline-block
        }

        .tns-lazy-img {
            opacity: .6;
            transition: opacity .6s
        }

        .tns-lazy-img.tns-complete {
            opacity: 1
        }

        .tns-ah {
            transition: height 0s
        }

        .tns-ovh {
            overflow: hidden
        }

        .tns-visually-hidden {
            left: -10000em;
            position: absolute
        }

        .tns-transparent {
            opacity: 0;
            visibility: hidden
        }

        .tns-fadeIn {
            filter: alpha(opacity=100);
            opacity: 1;
            z-index: 0
        }

        .tns-fadeOut,
        .tns-normal {
            filter: alpha(opacity=0);
            opacity: 0;
            z-index: -1
        }

        .tns-vpfix {
            white-space: nowrap
        }

        .tns-vpfix>div,
        .tns-vpfix>li {
            display: inline-block
        }

        .tns-t-subp2 {
            height: 10px;
            margin: 0 auto;
            overflow: hidden;
            position: relative;
            width: 310px
        }

        .tns-t-ct {
            position: absolute;
            right: 0;
            width: 2333.3333333%;
            width: 2333.33333%
        }

        .tns-t-ct:after {
            clear: both;
            content: "";
            display: table
        }

        .tns-t-ct>div {
            float: left;
            height: 10px;
            width: 1.4285714%;
            width: 1.42857%
        }
    </style>
    <style>
        .tippy-tooltip[data-animation=fade][data-state=hidden] {
            opacity: 0
        }

        .tippy-iOS {
            -webkit-tap-highlight-color: transparent;
            cursor: pointer !important
        }

        .tippy-popper {
            max-width: calc(100vw - 10px);
            pointer-events: none;
            transition-property: transform;
            transition-timing-function: cubic-bezier(.165, .84, .44, 1)
        }

        .tippy-tooltip {
            background-color: #333;
            border-radius: 4px;
            color: #fff;
            font-size: 14px;
            line-height: 1.4;
            outline: 0;
            position: relative;
            transition-property: visibility, opacity, transform
        }

        .tippy-tooltip[data-placement^=top]>.tippy-arrow {
            border-top-color: #333;
            border-width: 8px 8px 0;
            bottom: -7px;
            margin: 0 3px;
            transform-origin: 50% 0
        }

        .tippy-tooltip[data-placement^=bottom]>.tippy-arrow {
            border-bottom-color: #333;
            border-width: 0 8px 8px;
            margin: 0 3px;
            top: -7px;
            transform-origin: 50% 7px
        }

        .tippy-tooltip[data-placement^=left]>.tippy-arrow {
            border-left-color: #333;
            border-width: 8px 0 8px 8px;
            margin: 3px 0;
            right: -7px;
            transform-origin: 0 50%
        }

        .tippy-tooltip[data-placement^=right]>.tippy-arrow {
            border-right-color: #333;
            border-width: 8px 8px 8px 0;
            left: -7px;
            margin: 3px 0;
            transform-origin: 7px 50%
        }

        .tippy-tooltip[data-interactive][data-state=visible] {
            pointer-events: auto
        }

        .tippy-tooltip[data-inertia][data-state=visible] {
            transition-timing-function: cubic-bezier(.54, 1.5, .38, 1.11)
        }

        .tippy-arrow {
            border-color: transparent;
            border-style: solid;
            position: absolute
        }

        .tippy-content {
            padding: 5px 9px
        }
    </style>
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-234211342-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-234211342-1');
    </script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N9N5L4J" height="0" width="0"
            style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div id="page-top"></div>
    <div data-scrollto="#page-top" class="backtoTop"><i class="fas fa-angle-double-up"></i></div>
    <div id="navbar" class="headroom">
        <div class="container">
            <div id="sidenav-icon" class="none-xl none-l">
                <div class="sidenav-icon-content">
                    <span class="sidenav-icon_white"></span>
                    <span class="sidenav-icon_white"></span>
                    <span class="sidenav-icon_white"></span>
                </div>
                <ul class="navbar-menu none hidden-block at-mobile unstyle">
                    <div class="navbar-search block none-m in-navbar-menu">
                        <form class="" action="/tim-kiem" method="get">
                            <input class="search-input" type="text" placeholder="Tối thiểu 2 kí tự" name="keywords" value="">
                            <button class="search-submit" type="submit" value="Tìm kiếm"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <li><a class="nav-menu_item" href="Xuatban.html"><span class="">Xuất bản</span></a></li>
                    <li><a class="nav-menu_item" href="ThaoLuan.html"><span class="">Thảo luận</span></a></li>
                    <li><a class="nav-menu_item" href="DanhSach.html"><span class="">Danh sách</span></a></li>
                    <li class="nav-has-submenu">
                        <a class="nav-menu_item">
                            <span class="">Hướng dẫn</span>
                            <i class="fas fa-chevron-down dropdown-icon" style="float: right; margin-top: 6px"></i>
                        </a>
                        <ul class="nav-submenu list-unstyled none">
                            <li><a href="#"><span>Đăng truyện</span></a></li>
                            <li><a href="#"><span>Giới thiệu</span></a></li>
                            <li><a href="#"><span>Góp ý - Báo lỗi</span></a></li>
                            <li><a href="#"><span>Privacy Policy</span></a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="navbar-logo-wrapper">
                <a href="/" class="navbar-logo" style="background-image: url('images/book_open_logo.png')" title="Trang chủ"></a>
            </div>
            <div id="navbar-user" class="guest">
                <a class="login-link" href="login.html">Đăng nhập</a>
                    <div id="guest-menu">
                        <div class="icon">
                            <span class="white-point"></span>
                            <span class="white-point"></span>
                            <span class="white-point"></span>
                        </div>
                        <ul class="nav-submenu hidden-block unstyled none">
                            <li>
                                <div class="nightmode-toggle li-inner">
                                    <span><i class="fas fa-moon"></i>Nền tối</span>
                                    <div class="toggle-icon">
                                        <i class="fa fa-toggle-off"></i>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <a class="li-inner" href="Lich-su-doc.html"><i class="fas fa-history"></i><span>Lịch sử</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="navbar-mainblock">
                    <div class="navbar-search none block-m">
                        <form class="" action="/tim-kiem" method="get">
                            <input class="search-input" type="text" placeholder="Tối thiểu 2 kí tự" name="keywords" value="">
                            <button class="search-submit" type="submit" value="Tìm kiếm"><i class="fas fa-search"></i></button>
                        </form>
                    </div>
                    <ul class="navbar-menu at-navbar none d-lg-block unstyled">
                        <li><a class="nav-menu_item" href="Xuatban.html"><i class="fas fa-calendar menu-icon"></i><span class="">Xuất bản</span></a></li>
                        <li><a class="nav-menu_item" href="ThaoLuan.html"><i class="fas fa-users menu-icon"></i><span class="">Thảo luận</span></a></li>
                        <li><a class="nav-menu_item" href="DanhSach.html"><i class="fas fa-th-list menu-icon"></i><span class="">Danh sách</span></a></li>
                        <li class="nav-has-submenu">
                            <a class="nav-menu_item">
                                <i class="fas fa-question menu-icon"></i><span class="">Hướng dẫn</span>
                                <i class="fas fa-chevron-down dropdown-icon"></i>
                                <i class="fas fa-chevron-right dropdown-icon"></i>
                            </a>
                            <ul class="nav-submenu hidden-block unstyled none">
                                <li><a href="#"><span>Đăng truyện</span></a></li>
                                <li><a href="#"><span>Giới thiệu</span></a></li>
                                <li><a href="#"><span>Góp ý - Báo lỗi</span></a></li>
                                <li><a href="#"><span>Privacy Policy</span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
    <div class="page-top-group">
        <div class="index-background"></div>
    </div>

    <main id="mainpart" class="at-index">
        <div class="container" style="margin-bottom: 40px;">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <div class="daily-recent_views">
                        <header class="title">
                            <span class="top-tab_title title-active">
                                <i class="fas fa-star"></i>
                                Nổi Bật Nhất
                            </span>
                            <span class="top-tab_title">
                                <a href="DanhSach.html">Top tháng</a>
                            </span>
                            <span class="top-tab_title">
                                <a href="DanhSach.html">Toàn Thời gian</a>
                            </span>
                        </header>

                        <main class="row slider d-block">
                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="popular-thumb-item mr-1">
                                <div class="thumb-wrapper">
                                    <a href=" # " title="Novel">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio"
                                                style="background-image: url('images/Bookcover.png')"></div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb-attr series-title" title="Novel">
                                            <a href="#" title="Novel">Novel</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </div>
                </div>
                <div class="col-12 col-lg-3">
                    <section class="last-topics index-section">
                        <header class="section-title">
                            <a href="ThaoLuan.html"><span class="sts-bold">Thảo Luận</span></a>
                        </header>
                        <main>
                            <div class="topic-item">
                                <div class="row">
                                    <div class="col-9 line-ellipsis">
                                        <i class="fas fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                                        <a href="#" title="Thảo luận chung"> Thảo Luận Chung của mọi người.</a>
                                    </div>
                                    <div class="col-3 topic-data text-right">
                                        <time class="timeago" title="title" datatime="2022-06-16T15:22:39+07:00"></time>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-item">
                                <div class="row">
                                    <div class="col-9 line-ellipsis">
                                        <i class="fas fa-circle" style="color: #1ee865; margin-right: 4px;"></i>
                                        <a href="#" title="Thảo luận chung"> Thảo Luận Chung của mọi người.</a>
                                    </div>
                                    <div class="col-3 topic-data text-right">
                                        <time class="timeago" title="title" datatime="2022-06-14T20:22:39+07:00"></time>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-item">
                                <div class="row">
                                    <div class="col-9 line-ellipsis">
                                        <i class="fas fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                                        <a href="#" title="Thảo luận chung"> Thông báo Chung.</a>
                                    </div>
                                    <div class="col-3 topic-data text-right">
                                        <time class="timeago" title="title" datatime="2022-06-13T17:22:39+07:00"></time>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-item">
                                <div class="row">
                                    <div class="col-9 line-ellipsis">
                                        <i class="fas fa-circle" style="color: #eb1d57; margin-right: 4px;"></i>
                                        <a href="#" title="Thảo luận chung"> Thông báo Chung.</a>
                                    </div>
                                    <div class="col-3 topic-data text-right">
                                        <time class="timeago" title="title" datatime="2022-06-13T17:22:39+07:00"></time>
                                    </div>
                                </div>
                            </div>

                            <div class="topic-item">
                                <div class="row">
                                    <div class="col-9 line-ellipsis">
                                        <i class="fas fa-circle" style="color: #28e1e8; margin-right: 4px;"></i>
                                        <a href="#" title="Thảo luận chung"> Đánh giá hoặc review.</a>
                                    </div>
                                    <div class="col-3 topic-data text-right">
                                        <time class="timeago" title="title" datatime="2022-06-13T17:22:39+07:00"></time>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
        </div>
        <div style="text-align: center; margin: 0 auto 10px auto;">
        </div>
        <div class="container">
            <div class="row">
                <div class="col-12 col-lg-9">
                    <section class="index-section thumb-section-flow last-chapter translation three-row">
                        <header class="section-title">
                            <span class="sts-bold">Chương mới nhất</span>
                        </header>
                        <main class="row">
                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2">
                                <div class="thumb-wrapper">
                                    <a href="#" title="Các loại truyện đang xem nữa trừng">
                                        <div class="a6-ratio">
                                            <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png">
                                            </div>
                                        </div>
                                    </a>
                                    <div class="thumb-detail">
                                        <div class="thumb_attr chapter-title"
                                            title="Các loại truyện đang xem nữa trừng">
                                            <a href="#" title="Các loại truyện đang xem nữa trừng">Các loại truyện đang
                                                xem nữa trừng</a>
                                        </div>
                                        <div class="thumb_attr volume-title">Tập #</div>
                                    </div>
                                </div>
                                <div class="thumb_attr series-title"><a href="#" title="Tên truyện">Tên truyện</a></div>
                            </div>

                            <div class="thumb-item-flow col-4 col-lg-2 see-more">
                                <div class="thumb-wrapper">
                                    <div class="a6-ratio">
                                        <div class="content img-in-ratio"
                                            style="background-image: url('images/Bookcover.png');"></div>
                                    </div>
                                    <a href="#">
                                        <div class="thumb-see-more">
                                            <div class="see-more-inside">
                                                <div class="see-more-content">
                                                    <div class="see-more-icon"><i class="fas fa-arrow-circle-right"></i>
                                                    </div>
                                                    <div class="see-more-text">Xem thêm</div>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
                <div class="col-12 col-lg-3">
                    <section id="reading-history" class="index-section" x-data="">
                        <header class="section-title">
                            <a href="Lich-su-doc.html">
                                <span class="sts-bold"> Truyện Vừa đọc</span>
                            </a>
                        </header>
                        <main class="sect-body">
                            <template x-for="reading in storage">
                                <div class="row ml-1 mb-3">
                                    <div class="col-2 col-lg-2 a6-ratio">
                                        <div class="img-contain-ratio content"
                                            :style="{ backgroundImage: reading.series_cover}"></div>
                                    </div>
                                    <div class="col-8 col-lg-8">
                                        <a x-text="reading.series_title" :href="reading.series_url"
                                            class="text-truncate block font-weight-bold"></a>
                                        <div x-text="reading.book_title" class="small mb-3 text-truncate"></div>
                                        <a x-text="reading.chapter_title" :href="reading.chapter_url"
                                            class="text-truncate block"></a>
                                    </div>
                                </div>
                            </template>
                        </main>
                    </section>
                    <section id="recent-comments" class="index-section">
                        <header class="section-title"><span class="sts-bold">Bình Luận Gần Đây</span></header>
                        <main class="sect-body pr-5">

                            <div class="comment-item-at-index">
                                <div class="comment-info">
                                    <span class="series-name"> <a href="#"> Truyện </a> </span>
                                    <div class="comment-content">
                                        Nơi xuất hiện bình luận và tổng hợp toàn bình luận mới nhất trong website
                                    </div>
                                    <div class="comment-top">
                                        <div class="comment-user_ava">
                                            <a href="#">
                                                <img src="#" alt="Commenter's avatar">
                                            </a>
                                        </div>
                                        <a href="#" rel="nofollow" class="comment-user_name strong">User comments</a>
                                        <small class="comment-location">
                                            <a href="#">
                                                <time class="timeago" title="17-06-2022 08:41:59"
                                                    datetime="2022-06-17T08:41:59+07:00">
                                                    13-06-2022 08:41:59
                                                </time>
                                            </a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-item-at-index">
                                <div class="comment-info">
                                    <span class="series-name"> <a href="#"> Truyện </a> </span>
                                    <div class="comment-content">
                                        Nơi xuất hiện bình luận và tổng hợp toàn bình luận mới nhất trong website
                                    </div>
                                    <div class="comment-top">
                                        <div class="comment-user_ava">
                                            <a href="#">
                                                <img src="#" alt="Commenter's avatar">
                                            </a>
                                        </div>
                                        <a href="#" rel="nofollow" class="comment-user_name strong">User comments</a>
                                        <small class="comment-location">
                                            <a href="#">
                                                <time class="timeago" title="17-06-2022 08:41:59"
                                                    datetime="2022-06-17T08:41:59+07:00">
                                                    13-06-2022 08:41:59
                                                </time>
                                            </a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-item-at-index">
                                <div class="comment-info">
                                    <span class="series-name"> <a href="#"> Truyện </a> </span>
                                    <div class="comment-content">
                                        Nơi xuất hiện bình luận và tổng hợp toàn bình luận mới nhất trong website
                                    </div>
                                    <div class="comment-top">
                                        <div class="comment-user_ava">
                                            <a href="#">
                                                <img src="#" alt="Commenter's avatar">
                                            </a>
                                        </div>
                                        <a href="#" rel="nofollow" class="comment-user_name strong">User comments</a>
                                        <small class="comment-location">
                                            <a href="#">
                                                <time class="timeago" title="17-06-2022 08:41:59"
                                                    datetime="2022-06-17T08:41:59+07:00">
                                                    13-06-2022 08:41:59
                                                </time>
                                            </a>
                                        </small>
                                    </div>
                                </div>
                            </div>

                            <div class="comment-item-at-index">
                                <div class="comment-info">
                                    <span class="series-name"> <a href="#"> Truyện </a> </span>
                                    <div class="comment-content">
                                        Nơi xuất hiện bình luận và tổng hợp toàn bình luận mới nhất trong website
                                    </div>
                                    <div class="comment-top">
                                        <div class="comment-user_ava">
                                            <a href="#">
                                                <img src="#" alt="Commenter's avatar">
                                            </a>
                                        </div>
                                        <a href="#" rel="nofollow" class="comment-user_name strong">User comments</a>
                                        <small class="comment-location">
                                            <a href="#">
                                                <time class="timeago" title="17-06-2022 08:41:59"
                                                    datetime="2022-06-17T08:41:59+07:00">
                                                    13-06-2022 08:41:59
                                                </time>
                                            </a>
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
        </div>

        <div style="text-align: center; margin: 0 auto 10px auto;"></div>
        <div class="bottom-part at-index">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-8 col-lg-9">
                        <section class="index-section new-series">
                            <header class="section-title"><span class="sts-bold">Truyện Vừa Đăng</span></header>
                            <main class="sect-body">
                                <div class="row">
                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="images/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="img/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="images/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="images/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="images/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>

                                    <article class="list-item col-12 col-lg-6">
                                        <div class="row">
                                            <div class="col-4 col-md-3 col-lg-4">
                                                <div class="series-cover">
                                                    <a href="#">
                                                        <div class="a6-ratio">
                                                            <div class="content img-in-ratio lazyload"
                                                                data-bg="images/Bookcover.png"></div>
                                                        </div>
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="col-8 col-md-9 col-lg-8">
                                                <div class="list-detail">
                                                    <h4 class="series-title"><a href="#">Những Tác phẩm mới dịch gần
                                                            đây</a></h4>
                                                    <div class="series-summary">Nội dung của truyện</div>
                                                    <div class="lastest-chapter">

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </main>
                            <div class="see-more_cover">
                                <a class="see-more" href="#">
                                    <i class="fas fa-hand-point-right"></i>Xem thêm
                                </a>
                            </div>
                        </section>
                    </div>
                    <div class="col-12 col-md-4 col-lg-3">
                        <section class="index-section rank-cirle most-followed">
                            <header class="section-title">
                                <span class="sts-bold">Theo dõi nhiều</span>
                            </header>
                            <main>
                                <div class="rank-circle-item">
                                    <span class="rank-number">1</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">2</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">3</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">4</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">5</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">6</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">7</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">8</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">9</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>

                                <div class="rank-circle-item">
                                    <span class="rank-number">10</span>
                                    <div class="series-detail clear">
                                        <div class="series-cover">
                                            <div class="a6-ratio">
                                                <div class="content img-in-ratio"
                                                    style="background-image: url('images/Bookcover.png') "></div>
                                            </div>
                                        </div>
                                        <h5 class="series-title"><a href="#"
                                                title="Ryoushin no Shakkin wo Katagawari shite Morau Jouken wa Nihon Ichi">Truyện
                                                dựa trên lượng người xem nhiều nhất</a></h5>
                                        <small class="rank-count">số người theo dõi</small>
                                    </div>
                                </div>
                            </main>
                        </section>
                    </div>
                </div>
            </div>
        </div>

        <div class="container pad-top-40">
            <section class="index-section js-finished-series">
                <header class="section-title">
                    <span class="sts-bold">Truyện đã hoàn thành</span>
                </header>

                <main class="row slider">
                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider">
                        <div class="thumb-wrapper">
                            <a href="#" title="Toàn tập">
                                <div class="a6-ratio">
                                    <div class="content img-in-ratio lazyload" data-bg="images/Bookcover.png"></div>
                                </div>
                            </a>
                            <div class="thumb-detail">
                                <div class="thumb_attr chapter-title" title="Toàn tập"><a href="#"
                                        title="Toàn tập">Truyện đã dịch hoàn thành</a></div>
                                <div class="thumb_attr volume-title">Truyện Đã Dịch</div>
                            </div>
                        </div>
                        <div class="thumb_attr series-title"><a href="#" title="Tên Truyện">Tên Truyện</a></div>
                    </div>

                    <div class="thumb-item-flow thumb-slider see-more">
                        <div class="thumb-wrapper">
                            <div class="a6-ratio">
                                <div class="content img-in-ratio" style="background-image: url('images/Bookcover.png');">
                                </div>
                            </div>
                            <a href="#">
                                <div class="thumb-see-more">
                                    <div class="see-more-inside">
                                        <div class="see-more-content">
                                            <div class="see-more-icon"><i class="fas fa-arrow-circle-right"></i></div>
                                            <div class="see-more-text">Xem thêm</div>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div>
                </main>
            </section>
        </div>
        <script>
            $(document).ready(function () {

                $(".mobile-toggle header").click(function () {
                    $(this).parent().find(".listall_summary").toggle();
                    $(this).parent().find(".sect-body").toggle();
                });

                //listab(".daily-recent_views");

            });
        </script>
    </main>

    <script src="scripts/app.js"></script>
    <script src="vendor/livewire/livewire.js" data-turbo-eval="false" data-turbolinks-eval="false"></script>
    <script data-turbo-eval="false"
        data-turbolinks-eval="false">window.livewire = new Livewire(); window.Livewire = window.livewire; window.livewire_app_url = ''; window.livewire_token = '6zzWwey1IRPv2yjA2xZsHk7elXn8bZekGYrUW4xW'; window.deferLoadingAlpine = function (callback) { window.addEventListener('livewire:load', function () { callback(); }); }; let started = false; window.addEventListener('alpine:initializing', function () { if (!started) { window.livewire.start(); started = true; } }); document.addEventListener("DOMContentLoaded", function () { if (!started) { window.livewire.start(); started = true; } });</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://pl16314303.safestcontentgate.com/d5/6b/4b/d56b4bd6c3d2c1e161c4ab3c78c27670.js"></script>
</body>

</html>
